.exclusive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1.5rem 7.5rem;
}

@media (min-width: 768px) {
  .exclusive-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1024px) {
  .exclusive-container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-width: 1280px) {
  .exclusive-container {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

.exclusive-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .exclusive-header {
    flex-direction: row;
  }
}

.exclusive-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .exclusive-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .exclusive-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.exclusive-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25rem;
  padding: 3rem 1rem 1rem;
  border-radius: 1rem;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: white;
  color: #020913;
  font-size: 1rem;
  padding: 4px 8px;
  border-radius: 9999px;
}

.content p {
  margin: 4px 0;
}

.heading {
  font-size: 20px;
  font-weight: 600;
}

.details {
  font-size: 14px;
  color: #ccc;
}

.expire {
  font-size: 12px;
  color: #aaa;
}

.alloffers {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: white;
  color: #1a1a1a;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.3s;
}

.offerbutton {
  margin-top: 10px;
  padding: 8px 12px;
  color: #fafafa;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: transform 0.3s;
}

.arrow-icon {
  transition: transform 0.3s;
}

.offerbutton:hover .arrow-icon,
.alloffers:hover .arrow-icon {
  transform: translateX(4px);
}

.invert {
  filter: invert(1);
}
